footer{
   .f_li_border{
      list-style-type: none;
      border-bottom: 1px solid #ddd;
      padding: 10px;
      font-weight: 650;
   }
   .f_li{
      list-style-type: none;  
   }
   .f_ul{
      margin: 0;
      padding: 0;
   }
   img{
      width: 100px;
   }
}